/*
Principais Breakpoints:

320px - 480px: Mobile
481px - 768px: Tablets
769px - 1024px: Leptops
1025px - 1200px: Desktops
1201px a mais: TVs e Telas Especiais
*/


/*Tvs e Telas Especiais - 1400px*/
@media screen and (max-width: 1400px){
    /*#region menu*/

    .menu{
        width: 100%;
        height: 70px;
        position: fixed;
        background-color: rgb(22, 28, 36);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }

    .menu button{
         display: none; 
    }

    .logo{
        height: 50px;
        padding: 10px 20px;
        filter: invert(100%);
    }

    .menuLinks{
        display: flex;
        flex-direction: row;
        padding-right: 25px;
        }

    .menu li a{
        padding: 15px;
        color: white;
        margin: 0 1px;
    }

    .menu li a:hover{
        background-color: rgb(249, 79, 1);
        color: white;
        padding: 16px 20px;
        border-radius: 5px;
    }

    .btnDefault{
        background-color: rgb(0, 179, 255);
        padding: 10px 20px !important;
        border-radius: 5px;
        margin-right: 20px;
        color: white;
        margin: 0 auto;
    }

    .btnDefault:hover{
        background-color: rgb(249, 79, 1);
        color: white;
    }

    /*#endregion menu*/

      /*#region sectionSpecialties*/

  #specialties {
    background-color: rgb(210, 210, 210);
    padding: 8em 0;
}

.specialtiesContainer{
    width: 100%;
    height: auto;
    text-align: center;
}

.specialtiesItems{
    padding: 8em 0;
}

.specialtiesItems ul{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
    
.specialtiesItems ul li{
    background-color: white;
    flex-basis: 250px;
    padding: 5em;
    margin: 5em;
    box-shadow: 10px 10px;
}

.specialtiesItems ul li p{
    margin: 35px 0;
}

.specialtiesItems ul li img{
    filter: opacity(.4);
    transition: .3s;
    cursor: pointer;
    filter: invert(25%);
}

.specialtiesItems ul li img:hover{
    filter: opacity(1);
    transition: .3s;
}


/*#endregion sectionSpecialties*/

 /*#region sectionServices*/

 .servicesC{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}

.servicesI{
    width: 80%;
    margin: 0 auto;
}

.servicesI table{
    width: 100%;
}

.servicesI table tr{
    height: 60px;
    line-height: 60px;
}

.servicesI table tr th{
    font-size: 2.5em;
    font-weight: 900;
}

.servicesI table tr td{
    font-size: 1.5em;
}

.servicesI table tr td a{
    font-size: 1em;
}

tr:nth-child(even) {
    background-color: rgb(234, 234, 234);
}

tr:nth-child(odd) {
    background-color: rgb(166, 224, 254);
}

/*#endregion sectionServices*/
}


/*Desktop - 1200px*/
@media screen and (max-width: 1200px){
    /*#region menu*/

    .menu{
        width: 100%;
        height: 70px;
        position: fixed;
        background-color: rgb(22, 28, 36);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }

    .menu button{
         display: none; 
    }

    .logo{
        height: 50px;
        padding: 10px 20px;
        filter: invert(100%);
    }

    .menuLinks{
        display: flex;
        flex-direction: row;
        padding-right: 25px;
        }

    .menu li a{
        padding: 15px;
        color: white;
        margin: 0 1px;
    }

    .menu li a:hover{
        background-color: rgb(249, 79, 1);
        color: white;
        padding: 16px 20px;
        border-radius: 5px;
    }

    .btnDefault{
        background-color: rgb(0, 179, 255);
        padding: 10px 20px !important;
        border-radius: 5px;
        margin-right: 20px;
        color: white;
        margin: 0 auto;
    }

    .btnDefault:hover{
        background-color: rgb(249, 79, 1);
        color: white;
    }

    /*#endregion menu*/

     /*#region sectionSpecialties*/

  #specialties {
    background-color: rgb(210, 210, 210);
    padding: 8em 0;
}

.specialtiesContainer{
    width: 100%;
    height: auto;
    text-align: center;
}

.specialtiesItems{
    padding: 8em 0;
}

.specialtiesItems ul{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
    
.specialtiesItems ul li{
    background-color: white;
    flex-basis: 250px;
    padding: 5em;
    margin: 5em;
    box-shadow: 10px 10px;
}

.specialtiesItems ul li p{
    margin: 35px 0;
}

.specialtiesItems ul li img{
    filter: opacity(.4);
    transition: .3s;
    cursor: pointer;
    filter: invert(25%);
}

.specialtiesItems ul li img:hover{
    filter: opacity(1);
    transition: .3s;
}


/*#endregion sectionSpecialties*/

 /*#region sectionServices*/

 .servicesC{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}

.servicesI{
    width: 80%;
    margin: 0 auto;
}

.servicesI table{
    width: 100%;
}

.servicesI table tr{
    height: 60px;
    line-height: 60px;
}

.servicesI table tr th{
    font-size: 2.5em;
    font-weight: 900;
}

.servicesI table tr td{
    font-size: 1.5em;
}

.servicesI table tr td a{
    font-size: 1em;
}

tr:nth-child(even) {
    background-color: rgb(234, 234, 234);
}

tr:nth-child(odd) {
    background-color: rgb(166, 224, 254);
}

/*#endregion sectionServices*/
}


/*Leptop - 1024px*/
@media screen and (max-width: 1024px){
    /*#region menu*/

    .menu{
        width: 100%;
        height: 70px;
        position: fixed;
        background-color: rgb(22, 28, 36);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }

    .menu button{
         display: none; 
    }

    .logo{
        height: 50px;
        padding: 10px 20px;
        filter: invert(100%);
    }

    .menuLinks{
        display: flex;
        flex-direction: row;
        padding-right: 25px;
        }

    .menu li a{
        padding: 8px;
        color: white;
        /* margin: 0 1px; */
    }

    .menu li a:hover{
        background-color: rgb(249, 79, 1);
        color: white;
        padding: 16px 20px;
        border-radius: 5px;
    }

    .btnDefault{
        background-color: rgb(0, 179, 255);
        padding: 10px 20px !important;
        border-radius: 5px;
        margin-right: 20px;
        color: white;
        margin: 0 auto;
    }

    .btnDefault:hover{
        background-color: rgb(249, 79, 1);
        color: white;
    }

    /*#endregion menu*/

     /*#region sectionSpecialties*/

  #specialties {
    background-color: rgb(210, 210, 210);
    padding: 8em 0;
}

.specialtiesContainer{
    width: 100%;
    height: auto;
    text-align: center;
}

.specialtiesItems{
    padding: 8em 0;
}

.specialtiesItems ul{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
    
.specialtiesItems ul li{
    background-color: white;
    flex-basis: 250px;
    padding: 5em;
    margin: 5em;
    box-shadow: 10px 10px;
}

.specialtiesItems ul li p{
    margin: 35px 0;
}

.specialtiesItems ul li img{
    filter: opacity(.4);
    transition: .3s;
    cursor: pointer;
    filter: invert(25%);
}

.specialtiesItems ul li img:hover{
    filter: opacity(1);
    transition: .3s;
}


/*#endregion sectionSpecialties*/

 /*#region sectionServices*/

 .servicesC{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}

.servicesI{
    width: 80%;
    margin: 0 auto;
}

.servicesI table{
    width: 100%;
}

.servicesI table tr{
    height: 60px;
    line-height: 60px;
}

.servicesI table tr th{
    font-size: 2.5em;
    font-weight: 900;
}

.servicesI table tr td{
    font-size: 1.5em;
}

.servicesI table tr td a{
    font-size: 1em;
}

tr:nth-child(even) {
    background-color: rgb(234, 234, 234);
}

tr:nth-child(odd) {
    background-color: rgb(166, 224, 254);
}

/*#endregion sectionServices*/
}


/*Tablet - 768px*/
@media screen and (max-width: 768px){
    /*#region menu*/

    .menu{
        width: 100%;
        height: 70px;
        position: fixed;
        background-color: rgb(22, 28, 36);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }
    .logo{
        height: 50px;
        padding: 10px 20px;
        filter: invert(100%);
    }

    .menu button {
         display: block; 
         height: 50px;
         background-color: transparent;
         border: none;
         position: absolute;
         top: 10px;
         right: 10px;
         cursor: pointer;
         z-index: 100;
    }
    .menu button img{
        height: 50px;
    }
    /* função para o botão mostrar o menu expandido */
    .menu button:focus ~ .menuLinks {
        height: 400px;
    }    
    /* mostrando os links do menu (menu expandido)*/
    .menuLinks{
        background-color: #333;
        position: absolute;
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        top: 0;
        margin-top: 70px;
        transition: all .3s;
        overflow: hidden;
        }

    .menu li a{
        padding: 8px;
        color: white;
        /* margin: 0 1px; */
    }

    .menu li a:hover{
        background-color: rgb(249, 79, 1);
        color: white;
        padding: 16px 20px;
        border-radius: 5px;
    }

    .btnDefault{
        background-color: rgb(0, 179, 255);
        padding: 10px 20px !important;
        border-radius: 5px;
        margin-right: 20px;
        color: white;
        margin: 0 auto;
    }

    .btnDefault:hover{
        background-color: rgb(249, 79, 1);
        color: white;
    }

    /*#endregion menu*/

     /*#region sectionSpecialties*/

  #specialties {
    background-color: rgb(210, 210, 210);
    padding: 8em 0;
}

.specialtiesContainer{
    width: 100%;
    height: auto;
    text-align: center;
}

.specialtiesItems{
    padding: 8em 0;
}

.specialtiesItems ul{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
    
.specialtiesItems ul li{
    background-color: white;
    flex-basis: 250px;
    padding: 5em;
    margin: 5em;
    box-shadow: 10px 10px;
}

.specialtiesItems ul li p{
    margin: 35px 0;
}

.specialtiesItems ul li img{
    filter: opacity(.4);
    transition: .3s;
    cursor: pointer;
    filter: invert(25%);
}

.specialtiesItems ul li img:hover{
    filter: opacity(1);
    transition: .3s;
}


/*#endregion sectionSpecialties*/

 /*#region sectionServices*/

 .servicesC{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}

.servicesI{
    width: 80%;
    margin: 0 auto;
}

.servicesI table{
    width: 100%;
}

.servicesI table tr{
    height: 60px;
    line-height: 60px;
}

.servicesI table tr th{
    font-size: 2.5em;
    font-weight: 900;
}

.servicesI table tr td{
    font-size: 1.5em;
}

.servicesI table tr td a{
    font-size: 1em;
}

tr:nth-child(even) {
    background-color: rgb(234, 234, 234);
}

tr:nth-child(odd) {
    background-color: rgb(166, 224, 254);
}

/*#endregion sectionServices*/



/*#region sectionProducts*/
/* Effect parallax  - formatting background */
#products {
    background-image: url('../img/img6.png') ;
    background-size:  cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: white;
}
/* formatting section with title */
.productsContainer {
    
    width: 100%;
    height: auto;
}
/* formatting section responsive with cards */
.productsItems {
    
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* formatting cards */
.productsCard {
    
    width: 40%;
    text-align: center;
    
    margin: 2em .5em;

}
/* card with infomation of plan */
.productsCard li {
    height: 60px;
    line-height: 60px;
    background-color: white;
    color: black;   
}
/* circle with value */
.productsCard li.price {
    font-size: 2em;
    font-weight: 800;
    color: white;
    width: 100px;
    height: 100px;
    line-height: 100px; /* center element inside circle. Width, height e line height have to be the same */
    text-align: center;
    background-color: rgb(0, 94, 255);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: -50px;
}
/* title of the plane in a rectangle */
.productsCard li.tituloCard {
    color: white;
    height: 130px;
    line-height: 130px;
    background-color: black;
    font-size: 2em;
    text-transform: capitalize;
    padding-top: .8em;
}
.recomended li{
    background-color:  rgb(0, 94, 255);
    color: white;

}
.btnRecomended {
    background-color: black;
    color: white;
}
/*#endregion sectionProducts*/



}



/*320px - 480px: Mobile*/
@media screen and (max-width: 480px){
    /*#region menu*/

    .menu{
        width: 100%;
        height: 70px;
        position: fixed;
        background-color: rgb(22, 28, 36);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }
    .logo{
        height: 50px;
        padding: 10px 20px;
        filter: invert(100%);
    }

    .menu button {
         display: block; 
         height: 50px;
         background-color: transparent;
         border: none;
         position: absolute;
         top: 10px;
         right: 10px;
         cursor: pointer;
         z-index: 100;
    }
    .menu button img{
        height: 50px;
    }
    /* função para o botão mostrar o menu expandido */
    .menu button:focus ~ .menuLinks {
        height: 400px;
    }    
    /* mostrando os links do menu (menu expandido)*/
    .menuLinks{
        background-color: #333;
        position: absolute;
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        top: 0;
        margin-top: 70px;
        transition: all .3s;
        overflow: hidden;
        }

    .menu li a{
        padding: 8px;
        color: white;
        /* margin: 0 1px; */
    }

    .menu li a:hover{
        background-color: rgb(249, 79, 1);
        color: white;
        padding: 16px 20px;
        border-radius: 5px;
    }

    .btnDefault{
        background-color: rgb(0, 179, 255);
        padding: 10px 20px !important;
        border-radius: 5px;
        margin-right: 20px;
        color: white;
        margin: 0 auto;
    }

    .btnDefault:hover{
        background-color: rgb(249, 79, 1);
        color: white;
    }

    /*#endregion menu*/

     /*#region sectionSpecialties*/

  #specialties {
    background-color: rgb(210, 210, 210);
    padding: 8em 0;
}

.specialtiesContainer{
    width: 100%;
    height: auto;
    text-align: center;
}

.specialtiesItems{
    padding: 8em 0;
}

.specialtiesItems ul{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
    
.specialtiesItems ul li{
    background-color: white;
    flex-basis: 250px;
    padding: 5em;
    margin: 5em;
    box-shadow: 10px 10px;
}

.specialtiesItems ul li p{
    margin: 35px 0;
}

.specialtiesItems ul li img{
    filter: opacity(.4);
    transition: .3s;
    cursor: pointer;
    filter: invert(25%);
}

.specialtiesItems ul li img:hover{
    filter: opacity(1);
    transition: .3s;
}


/*#endregion sectionSpecialties*/

 /*#region sectionServices*/

 .servicesC{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}

.servicesI{
    width: 80%;
    margin: 0 auto;
}

.servicesI table{
    width: 100%;
}

.servicesI table tr{
    height: 60px;
    line-height: 60px;
}

.servicesI table tr th{
    font-size: 2.5em;
    font-weight: 900;
}

.servicesI table tr td{
    font-size: 1.5em;
}

.servicesI table tr td a{
    font-size: 1em;
}

tr:nth-child(even) {
    background-color: rgb(234, 234, 234);
}

tr:nth-child(odd) {
    background-color: rgb(166, 224, 254);
}

/*#endregion sectionServices*/



/*#region sectionProducts*/
/* Effect parallax  - formatting background */
#products {
    background-image: url('../img/img6.png') ;
    background-size:  cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: white;
}
/* formatting section with title */
.productsContainer {
    
    width: 100%;
    height: auto;
}
/* formatting section responsive with cards */
.productsItems {
    
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* formatting cards */
.productsCard {
    
    width: 100%;
    text-align: center;
    
    margin: 2em .5em;

}
/* card with infomation of plan */
.productsCard li {
    height: 60px;
    line-height: 60px;
    background-color: white;
    color: black;   
}
/* circle with value */
.productsCard li.price {
    font-size: 2em;
    font-weight: 800;
    color: white;
    width: 100px;
    height: 100px;
    line-height: 100px; /* center element inside circle. Width, height e line height have to be the same */
    text-align: center;
    background-color: rgb(0, 94, 255);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: -50px;
}
/* title of the plane in a rectangle */
.productsCard li.tituloCard {
    color: white;
    height: 130px;
    line-height: 130px;
    background-color: black;
    font-size: 2em;
    text-transform: capitalize;
    padding-top: .8em;
}
.recomended li{
    background-color:  rgb(0, 94, 255);
    color: white;

}
.btnRecomended {
    background-color: black;
    color: white;
}
/*#endregion sectionProducts*/

/*#region sectionContact*/

.contactContainer {
    width: 100%;
    margin: 0 auto;
}

/*#endregion sectionContact*/



/*#region footer*/
.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.footerContainer a span {
    display: none;
}
/*#endregion footer*/


}

